<style>
* {
  box-sizing: border-box;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 8px;
  height: 30px;
}

.pd-earning tr:nth-child(even) {
  background-color: rgba(0, 100, 0, 0.1);
}
</style>

<div class="row">
  <div class="column">
    <table class="pd-earning">
      <tr>
        <th>Match</th>
        <th>Round</th>
        <th>Your Payoff</th>
      </tr>
      {% for round in match_history %}
        {% if round.subsession.match_number <= (round.subsession.session.vars.num_match / 2) %}
          <tr>
            <td>{{ round.subsession.match_number }}</td>
            <td>{{ round.round_in_match_number }}</td>
            <td>{{ round.payoff }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>

  <div class="column">
    <table class="pd-earning">
      <tr>
        <th>Match</th>
        <th>Round</th>
        <th>Your Payoff</th>
      </tr>
      {% for round in match_history %}
        {% if round.subsession.match_number > (round.subsession.session.vars.num_match / 2) %}
          <tr>
            <td>{{ round.subsession.match_number }}</td>
            <td>{{ round.round_in_match_number }}</td>
            <td>{{ round.payoff }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
</div>

<p>Your total earnings from Prisoner's Dilemma: <b>{{ pd_payment }}</b></p>
<p>Participation Fee: <b>{{ participation_fee }}</b></p>
<p><b>Total Payment:</b> {{ total_payment }}</p>
