{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 1 - Match {{ match_number }}: Continue or End?
{% endblock %}

{% block content %}
    <p>The computer rolled a die to determine if the match continues.</p>

    {% if is_last_round %}
        <p>The die roll was {{ dieroll }}. Since it was higher than {{ continuation_chance }}, <strong>the match has ended</strong>.</p>
    {% else %}
        <p>The die roll was {{ dieroll }}. Since it was {{ continuation_chance }} or less, <strong>the match continues to the next round</strong>.</p>
    {% endif %}

    {% next_button %}
{% endblock %}
