{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome to Game 1
{% endblock %}

{% block content %}
    <p>In Game 1, you will be matched with another participant for a sequence of rounds.</p>
    <p>You will have a choice between two actions: <strong>Action 1</strong> and <strong>Action 2</strong>.</p>
    <p>Your earnings will depend on your choice and the choice of the person you are paired with.</p>
    <p>Once Game 1 is over, you will begin Game 2, which may have different payoffs.</p>

    <h4>Payoff Matrix</h4>
    <p>Below is the payoff matrix for Game 1:</p>

    <table border="1" cellpadding="10">
        <tr>
            <th></th>
            <th>Other chooses Action 1</th>
            <th>Other chooses Action 2</th>
        </tr>
        <tr>
            <th>You choose Action 1</th>
            <td>{{ both_cooperate_payoff }}, {{ both_cooperate_payoff }}</td>
            <td>{{ betray_payoff }}, {{ betrayed_payoff }}</td>
        </tr>
        <tr>
            <th>You choose Action 2</th>
            <td>{{ betrayed_payoff }}, {{ betray_payoff }}</td>
            <td>{{ both_defect_payoff }}, {{ both_defect_payoff }}</td>
        </tr>
    </table>

    <br>
    {% next_button %}
{% endblock %}
