{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Instructions for Part 1
{% endblock %}

{% block content %}
<div class="card card-body bg-light instructions">
    <p class="big">

    <p>
        This experiment has four parts; the following instructions are for Part 1.
    </p>

    <p>
        In this experiment you will be repeatedly matched with a randomly selected person in the room. During each match, you will be asked to make decisions over a sequence of rounds.
    </p>


    <p>
        In each round, you and the person you are paired with choose simultaneously between two actions, <strong>Action 1</strong> and <strong>Action 2</strong>. The points you can obtain in each round of a match depend on your choice and the choice of the person you are paired with.
    </p>

    <p>
        This table shows the payoffs associated with each choice in <strong>Part 1</strong>:
    </p>

    <table class='table table-bordered text-center' style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>The Other Participant</th>
        </tr>
        <tr>
            <th>Action 1</th>
            <th>Action 2</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90">You</span></th>
            <th>Action 1</th>
            <td>{{ Constants.both_cooperate_payoff_1 }}, {{ Constants.both_cooperate_payoff_1 }}</td>
            <td>{{ Constants.betrayed_payoff_1 }}, {{ Constants.betray_payoff_1 }}</td>
        </tr>
        <tr>
            <th>Action 2</th>
            <td>{{ Constants.betray_payoff_1 }}, {{ Constants.betrayed_payoff_1 }}</td>
            <td>{{ Constants.both_defect_payoff_1 }}, {{ Constants.both_defect_payoff_1 }}</td>
        </tr>
    </table>

    <p>The first entry in each cell represents your payoff, while the second entry represents the payoff of the person you are matched with. </p>

    <ul>
        <li>If you select <strong>Action 1</strong> and the other selects <strong>Action 1</strong>, you each make {{ Constants.both_cooperate_payoff_1 }} points.</li>
        <li>If you select <strong>Action 1</strong> and the other selects <strong>Action 2</strong>, you make {{ Constants.betrayed_payoff_1 }} points while the other makes {{ Constants.betray_payoff_1 }} points.</li>
        <li>If you select <strong>Action 2</strong> and the other selects <strong>Action 1</strong>, you make {{ Constants.betray_payoff_1 }} points while the other makes {{ Constants.betrayed_payoff_1 }} points.</li>
        <li>If you select <strong>Action 2</strong> and the other selects <strong>Action 2</strong>, you each make {{ Constants.both_defect_payoff_1 }} points.</li>
    </ul>


    <p>
        At the end of each round, you will see your choice (Action 1 or Action 2), the choice of the person you were paired with (Action 1 or Action 2), and the points you earned.
    </p>

    <p>
        Part 1 consists of <strong>matches</strong>. The length of a match, referred to as <strong>the number of rounds</strong>, is <strong>randomly determined</strong>. <strong>After each round, there is a {{ continuation_chance }}% probability that the match will continue for at least another round</strong>. For example:</p>

    <ul>
        <li>If you are in round 2, the probability there will be a third round is {{ continuation_chance }}%.</li>
        <li>If you are in round 9, the probability there will be a tenth round is also {{ continuation_chance }}%.</li>
    </ul>

    <p>This is how the length of a match is determined: at the end of each round, the computer rolls a fair 100-sided die.</p>

    <ul>
        <li>If the die comes up {{ die_threshold_plus_one }} or more, the match ends.</li>
        <li>If the die comes up {{ continuation_chance }} or less, the match continues to another round.</li>
    </ul>

    <p><strong>
        Once a match ends, you will be randomly paired with another person for a new match</strong>.
    </p>

    <p>
        In this experiment, you will earn points through the decisions that you make. At the end of the session, one of the matches from Part 1 will be chosen at random. You are paid the sum of all points you earned from your decisions in that selected match.</p>


    <p>All points are converted to dollars at a rate of 25 points = $1, and you also receive a $5 show-up fee.</p>

    {% next_button %}
</div>
{% endblock %}

{% block styles %}
<style type="text/css">
    .big {
        font-size: large;
    }
</style>
{% endblock %}
