{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Part {{ subsession.active_game }} - Match {{ subsession.match_number }} - Round {{ subsession.round_in_match_number }}: Results
{% endblock %}

{% block content %}


    <h4>Payoff Table</h4>
    <table class="table table-bordered text-center" style="width:auto; margin:auto">
        <tr>
            <th colspan="2" rowspan="2"></th>
            <th colspan="2">The Other Participant</th>
        </tr>
        <tr>
            <th>Action 1</th>
            <th>Action 2</th>
        </tr>
        <tr>
            <th rowspan="2"><span class="rotate90">You</span></th>
            <th>Action 1</th>
            <td>{{ Constants.both_cooperate_payoff_1 }}, {{ Constants.both_cooperate_payoff_1 }}</td>
            <td>{{ Constants.betrayed_payoff_1 }}, {{ Constants.betray_payoff_1 }}</td>
        </tr>
        <tr>
            <th>Action 2</th>
            <td>{{ Constants.betray_payoff_1 }}, {{ Constants.betrayed_payoff_1 }}</td>
            <td>{{ Constants.both_defect_payoff_1 }}, {{ Constants.both_defect_payoff_1 }}</td>
        </tr>
    </table>

    <p>Your choice: {{ my_decision }}</p>
    <p>Other participant's choice: {{ opponent_decision }}</p>

    <p>Your payoff for this round: <strong>{{ round_stage_points }}</strong> points</p>
    <p><em>Any bonus from the belief task will be summarized on the final payment page.</em></p>

    {% next_button %}
{% endblock %}
